(
    room_ambiences: [
        "audio/music/ambience/room/rumble.wav",
        "audio/music/ambience/room/lowdrone.wav",
        "audio/music/ambience/room/pulsing.wav",
        "audio/music/ambience/room/ventilation.wav",
        "audio/music/ambience/room/drip.wav",
        "audio/music/ambience/room/895.wav",
        "audio/music/ambience/room/fuel_pump.wav",
        "audio/music/ambience/room/fan.wav",
        "audio/music/ambience/room/servers1.wav",
        "audio/sfx/alarm/alarm.wav",
    ],
    rooms: {
        // Light Containment Zone
        "lockroom": (
            description: "A timed airlock room, with two doors",
            mesh: "map/lockroom.rmesh",
            room_shape: "2c",
            commonness: 30,
            zones: [1, 3],
        ),
        "173": (
            description: "Class-D Cells & SCP-173's chamber in the intro",
            mesh: "map/173bright.rmesh",
            room_shape: "1",
            commonness: 0,
            disable_decals: true,
        ),
        "start": (
            description: "SCP-173's chamber, after the breach",
            mesh: "map/173.rmesh",
            room_shape: "1",
            commonness: 0,
            disable_decals: true,
        ),
        // Heavy Containment Zone
        // Entrance Zone
    }
)
